@model IEnumerable<grouptest.Models.Member>

@{
    ViewData["Title"] = "Index";
}

@section Stylesheets {
    <style type="text/css"> 
        h1{
            font-weight:bolder;
            font-family: poppin;
        }
    </style>
    
}

<h1>Member Index</h1>

<p>
    <a asp-action="Create"><button class="btn bg-secondary text-light">Create New</button></a>
</p>
<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberLastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberFirstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberDob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberLastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberFirstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberDob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MembershipName)
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.MemberNumber"><button class="btn1 bg-success text-light"><i class="bi bi-pencil-square"></i> Edit</button></a>
                <a asp-action="Delete" asp-route-id="@item.MemberNumber"><button class="btn2 bg-danger text-light"><i class="bi bi-archive-fill"></i> Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
