@model grouptest.Models.ViewModels.LoanModelView

@{
    ViewData["Title"] = "FunctionFiveView";
}

<h1>FunctionFiveView</h1>

<div>
    <h4>Details of the last loan for this DVD is:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CopyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CopyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberLastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberLastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DvdTitleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DvdTitleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReturn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReturn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="FunctionFive">Back</a>
</div>
